.file {
    display: flex;
    align-items: center;
    flex-direction: column;    
}

.fileIcon{
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 20px;
}

.fileText{
    margin-top: 5px;
}

button {
  background-color: transparent;
  border: none;
  text-shadow: white 0 0 1px, white 0 0 2px, white 0 0 3px, white 0 0 4px;
  color: white;
  padding: 0 1.5%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
