h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 10px 15px;
}

.certificateLink {
  cursor: pointer !important;
  position: relative;
  text-decoration: underline white;
}

.bgimg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}