.taskbar {
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 2rem;
  display: flex;
  z-index: 2147483647;
  cursor: default !important;
}

.hr {
  background: linear-gradient(to right, #921af5, #23ff9c);
  border: 0 solid black;
  position: absolute;
  bottom: 2rem;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 2px;
  z-index: 2147483647;
}

.start {
  background-color: black;
  border-right: 2px solid #921af5;
  margin-right: 5px;
  padding: 6px 9px;
}

.startMenu{
  position: absolute;
  background-color: black;
  margin: 0;
  padding: 0;
  border-right: 2px solid #921af5;
  border-top: 2px solid #921af5;
  bottom: 2rem;
  left: 0;
  width: 200px;
  max-width: 200px;
  list-style-type: none;
  z-index: 2147483647;
}

.startMenu > li, .languagesMenu > li {
  display:flex;
  align-items: center;
  height: 2rem;
  padding-left: 10px;
}

.startMenu > li:hover, .languagesMenu > li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
}

.languagesMenu{
  position: absolute;
  background-color: black;
  margin: 0;
  padding: 0;
  border-right: 2px solid #921af5;
  border-top: 2px solid #921af5;
  bottom: 2rem;
  left: 201px;
  width: 100px;
  max-width: 100px;
  list-style-type: none;
  z-index: 2147483647;
}

.start:hover {
  cursor: pointer;
}

.time {
  color: white;
  background-color: black;
  border-left: 2px solid #23ff9c;
  margin-left: auto;
  width: 160px;
  padding: 6px 15px;
  text-align: center;
}

@media (max-width: 900px) {
  .time {
    visibility: hidden;
  }
}
