.taskbar {
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 2rem;
  display: flex;
  z-index: 2147483647;
}

.hr {
  background: linear-gradient(to right, #921af5, #23ff9c);
  border: 0 solid black;
  position: absolute;
  bottom: 2rem;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 2px;
  z-index: 2147483647;
}

.start {
  background-color: black;
  color: white;
  border-right: 2px solid #921af5;
  margin-right: 5px;
  padding: 6px 9px;
}

.time {
  color: white;
  background-color: black;
  border-left: 2px solid #23ff9c;
  margin-left: auto;
  width: 160px;
  padding: 6px 15px;
  text-align: center;
}

@media (max-width: 900px){
  .time {
    visibility: hidden;
  }
}