.windowHeader {
  display: flex;
  justify-content: space-between;
  height: 2em;
  background-color: rgba(255,255,255,10%);
  padding-top: 5px;
  position: sticky !important;
  width: 100%;
  top: 0;
}

.windowTitle {
  text-shadow: white 0 0 1px, white 0 0 2px, white 0 0 3px, white 0 0 4px;
  color: #ffffff;
  margin: 5px 10px 0px;
}

.windowTitle:hover{
  cursor: pointer;
  text-decoration: underline white;
}

.windowButtonsContainer {
  display: flex;
  flex-direction: row;
  margin: 5px 10px 0px;
}

img {
  -webkit-filter: invert(1);
  filter: invert(1);
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

/*todo: change image color
img[id=minimize]{

}

img[id=maximize]{

}

img[id=close]{

}
*/

img[id=minimize]:hover{
  filter: invert(1) drop-shadow(0 0 3px #19f8b5);
  -webkit-filter: invert(1) drop-shadow(0 0 3px #19f8b5);
}

img[id=maximize]:hover{
  filter: invert(1) drop-shadow(0 0 3px #ffda38);
  -webkit-filter: invert(1) drop-shadow(0 0 3px #ffda38);
}

img[id=close]:hover{
  filter: invert(1) drop-shadow(0 0 3px #EE5179);
  -webkit-filter: invert(1) drop-shadow(0 0 3px #EE5179);
}