.windowHeader {
  display: flex;
  justify-content: space-between;
  height: 2em;
  background-color: rgba(255,255,255,10%);
  padding-top: 5px;
  position: sticky !important;
  width: 100%;
  top: 0;
}

.windowTitle {
  text-shadow: white 0 0 1px, white 0 0 2px, white 0 0 3px, white 0 0 4px;
  color: #ffffff;
  margin: 5px 10px 0px;
}

.windowTitle:hover{
  cursor: pointer;
  text-decoration: underline white;
}

.windowButtonsContainer {
  display: flex;
  flex-direction: row;
  margin: 5px 10px 0px;
}

img[id=minimize]:hover{
  content: url("./icons/MinimizeIconHover.png");  
  filter: drop-shadow(0 0 1px #1DFF9C);
}

img[id=maximize]:hover{
  content: url("./icons/MaximizeIconHover.png");
  filter: drop-shadow(0 0 1px #F9FF00);
}

img[id=close]:hover{
  content: url("./icons/CloseIconHover.png");
  filter: drop-shadow(0 0 1px #F2536B);
}

img[id=minimize]{
  content: url("./icons/MinimizeIcon.png");
}

img[id=maximize]{
  content: url("./icons/MaximizeIcon.png");
}

img[id=close]{
  content: url("./icons/CloseIcon.png");
}

img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

