::-webkit-scrollbar {
    display: none;
}

::-moz-selection { /* Code for Firefox */
    color: #000000;
    background: #3FEF9E;
    text-shadow: black 0 0 1px, black 0 0 2px;
  }
  
  ::selection {
    color: #000000;
    background: #3FEF9E;
    text-shadow: black 0 0 1px, black 0 0 2px;
}