::-moz-selection {
  /* Code for Firefox */
  color: #000000;
  background: #3fef9e;
  text-shadow: black 0 0 1px, black 0 0 2px;
}

::selection {
  color: #000000;
  background: #3fef9e;
  text-shadow: black 0 0 1px, black 0 0 2px;
}

html,
body {
  background-image: url(./popupBackground.png);
  background-repeat: repeat;
  margin: 0;
  height: 100%;
  text-shadow: white 0 0 1px, white 0 0 2px, white 0 0 3px, white 0 0 4px;
  color: white;
  z-index: -2;
}

body {
  overflow: hidden;
}

a {
  color: white;
}

*{font-family: 'Chakra Petch', sans-serif !important;}
