::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: #000000;
  background: #3fef9e;
  text-shadow: black 0 0 1px, black 0 0 2px;
}

::selection {
  color: #000000;
  background: #3fef9e;
  text-shadow: black 0 0 1px, black 0 0 2px;
}

html,
body {
  scroll-behavior: smooth;
  overflow: hidden;
  margin: 0;
  height: 100%;
  text-shadow: white 0 0 1px, white 0 0 2px, white 0 0 3px, white 0 0 4px;
  color: white;
}

*{font-family: 'Chakra Petch', sans-serif !important;}
